.reportPanel {
    padding: 0px 10px 10px 10px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0b639c;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.branchTab .mat-tab-body-content {
    overflow: hidden;
}

.header {
    display: table;
    width: 100%;
}

.collegeLogo {
    display: table-cell;
}

.logout {
    display: table-cell;
    float: right;
    margin-right: 5px;
}

.logout .mat-flat-button.mat-primary {
    line-height: 30px !important;
    background-color: #8b7ea2;
    .reportPanel {
        padding: 0px 10px 10px 10px;
    }
    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #0b639c;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: 0 auto;
    }
    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    .branchTab .mat-tab-body-content {
        overflow: hidden;
    }
    .header {
        display: table;
        width: 100%;
    }
    .collegeLogo {
        display: table-cell;
    }
    .logout {
        display: table-cell;
        float: right;
        margin-right: 5px;
    }
    .logout .mat-flat-button.mat-primary {
        line-height: 30px !important;
        background-color: #8b7ea2;
    }
    .categoryTab .mat-ink-bar {
        background-color: #8b7ea2 !important;
    }
    .banchTab .mat-tab-label.mat-tab-label-active {
        background-color: #f5ecdd;
    }
}

.categoryTab .mat-ink-bar {
    background-color: #8b7ea2 !important;
}

.banchTab .mat-tab-label.mat-tab-label-active {
    background-color: #f5ecdd;
}